body {
  background-color: rgb(255, 236, 239);
  /* Set the background color to beige */
}

body {
  background-image: url('../static/images/bg.png');
  /* Path to your image */
  background-size: cover;
  background-attachment: fixed;
  /* Cover the entire page */
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  /* Ensures text is visible over the background */
  padding: 20px;
}

#header {
  display: flex;
  justify-content: center;
  /* Horizontally center its children */
  align-items: center;
  /* Vertically center its children */
  font-size: xx-large;
}

#title-and-logo {
  display: flex;
  /* Use flexbox layout */
  align-items: center;
  /* Vertically center its children */
}

#title {
  margin-right: 10px;
  font-size: 50px;
  /* Add some spacing between title and logo */
}

#bear {
  width: 100px;
  /* Adjust the width of the image */
  height: auto;
  /* Maintain aspect ratio */
}

body {
  font-family: 'Didot', serif;
}

.container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  /* Adjust margin as needed */
}

#refresh-instructions {
  margin-top: 20px;
  /* Space above the message */
  margin-bottom: 10px;
  /* Space below the message */
  text-align: center;
  /* Center-align the text */
  font-size: 16px;
  /* Appropriate text size */
  color: #333;
  /* Dark grey color for better readability */
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* Light background to highlight the area */
  border: 1px solid #ccc;
  /* Subtle border */
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
  /* margin-bottom: 10px;
  margin-top: 5px; */
  /* Adjust margin as needed */
}

.input-box input[type="text"] {
  width: 500px;
  /* Adjust width as needed */
  padding: 10px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Adjust font size as needed */
}

#filter-text-val {
  /* background-color: rgb(255, 236, 239); */
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Didot', serif;
  font-size: large;
  border: 3px rgb(178, 113, 137) solid;
}

.search-box button {
  margin-left: -5px;
  padding: 10px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Adjust font size as needed */
}

.genres-container {
  margin-top: 20px;
  text-align: center;
}

.genres {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  justify-content: center;
  /* Adjust margin as needed */
}

.genres label {
  display: block;
}

.genres input[type="checkbox"] {
  display: inline-block;
}

.song-player {
  /* background: rgba(255, 255, 255, 0.5); */
  margin: 15px;
  /* padding: 10px; */
  /* border-radius: 20px; */
}

.loader {
  border: 8px solid rgb(255, 255, 255);
  border-top: 8px solid rgb(178, 113, 137);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Additional styles for buttons */
.button-like {
  background-color: #ff6b81;
  /* Light pink because pink! */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-dislike {
  background-color: #606060;
  /* Light grey */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.like-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.dislike-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.like-button.active,
.like-button:hover {
  color: #c80032;
  /* Dark pink because more pink! */
}

.dislike-button.active,
.dislike-button:hover {
  color: #c80032;
  /* #333333; /* Dark grey */
}

.icon-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.dropdown-box {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(178, 113, 137);
  /* max-width: 600px; */
}

#titleDropdown {
  width: 600px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 236, 239, 0.371);
  transition: 0.3s;
}