.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

#poet-s-playlist{
    color: black
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Didot', serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    /* border-radius: 50px;
    border:1px solid black; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
    font-family: 'Didot', serif;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(255, 236, 239);
  /*beige */
}

body {
  background-image: url('../static/images/bg.png');
  /* image was drawn by teammate, no external credit */
  background-size: cover;
  background-attachment: fixed;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  padding: 20px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#title-and-logo {
  display: flex;
  align-items: center;
}

#title {
  margin-right: 10px;
  font-size: 50px;
}

#bear { /* our logo - the feather pen - free to use image drawn by Canva's inbuilt AI (Magic AI) */
  width: 100px;
  height: auto;
}

body {
  font-family: 'Didot', serif;
}

.container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

#refresh-instructions {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: #333;
  /* Dark grey for better readability */
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* Light background to highlight the area */
  border: 1px solid #ccc;
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
  /* margin-bottom: 10px;
  margin-top: 5px; */
}

.input-box input[type="text"] {
  width: 500px;
  padding: 10px;
  font-size: 16px;
}

#filter-text-val {
  /* background-color: rgb(255, 236, 239); */
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Didot', serif;
  font-size: large;
  border: 3px rgb(178, 113, 137) solid;
}

.search-box button {
  margin-left: -5px;
  padding: 10px;
  font-size: 16px;
}

.genres-container {
  margin-top: 20px;
  text-align: center;
}

.genres {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  justify-content: center;
}

.genres label {
  display: block;
}

.genres input[type="checkbox"] {
  display: inline-block;
}

.song-player {
  /* background: rgba(255, 255, 255, 0.5); */
  margin: 15px;
  /* padding: 10px; */
  /* border-radius: 20px; */
}

.loader {
  border: 8px solid rgb(255, 255, 255);
  border-top: 8px solid rgb(178, 113, 137);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rbscale {
  height: 100px;
  width: 500px;
  /* background: linear-gradient(to right, red 0%, yellow 88.6%, green 100%); */
}

.button-like {
  background-color: #ff6b81;
  /* Light pink because pink! */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-dislike {
  background-color: #606060;
  /* Light grey */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.like-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.dislike-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.like-button.active,
.like-button:hover {
  color: #c80032;
  /* Dark pink because more pink! */
}

.dislike-button.active,
.dislike-button:hover {
  color: #c80032;
  /* #333333; /* Dark grey */
}

.dot {
  height: 25px;
  width: 25px;
  margin: 7px 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.icon-button {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: rgb(178, 113, 137);
  cursor: pointer;
  margin: 10px;
}

.dropdown-box {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(178, 113, 137);
  /* max-width: 600px; */
}

#titleDropdown {
  width: 600px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 236, 239, 0.371);
  transition: 0.3s;
}

#keyword-box{
  padding-top: 20px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.word{
  margin: 10px;
  font-size: 18px;
}

li{
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

ul{
  padding-bottom: 30px;
}